-title @game.name

=link_to "RUN IT", "#", class:"btn btn-primary"

%p= "System: #{@game.rpg_system}"
%p= @game.description

%hr
%h3 Characters
%p=link_to "Add Character", new_game_character_path(@game), class:"btn btn-success"
%table.table.table-striped
  %thead
    %tr
      %th Character Name
      %th Player Name
      %th Class
      %th
  %tbody
    -@game.characters.each do |character|
      %tr
        %td=character.name
        %td=character.player_name if character.player_name
        %td=character.player_class if character.player_class
        %td
          .btn-group{ role: "group" }
            =link_to "Edit", edit_game_character_path(character), class:"btn btn-success"
            =link_to "Destroy", [@game, character], method: :delete, data: { confirm: "Did they die?" }, class: "btn btn-danger"


%hr
%p
  .btn-group{role:"group"}
    =link_to "Edit", edit_game_path(@game), class:"btn btn-default"
    =link_to "Destroy", @game, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger"

%p=link_to "Back To Games", games_path, class:"btn btn-success"
